
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Landing.cshtml";
}

@model AdventureWorksWebApp.Models.ViewModels.RegisterViewModel


<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center">
                    ¡Registrate en Photo App!
                </h1>

                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "space-y-4 md:space-y-6" }))
                {
                    @Html.AntiForgeryToken()


                    <div>
                        @Html.LabelFor(m => m.Username, new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                        @*<label for="User" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Usuario:</label>*@
                        @Html.TextBoxFor(m => m.Username, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder = "Ingrese su usuario" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-red-600" })
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Password, new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
                        @Html.PasswordFor(m => m.Password, new { @class = "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder = "••••••" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-red-600" })
                    </div>


                    if (ViewBag.ErrorMessage != null)
                    {
                        <div class="p-4 mb-4 text-sm text-red-500 rounded-xl bg-red-50 font-normal" role="alert">
                            @ViewBag.ErrorMessage
                        </div>
                    }

                    if (ViewBag.SuccessMessage != null)
                    {
                        <div class="p-4 mb-4 text-sm text-emerald-500 rounded-xl bg-emerald-50 font-normal text-center" role="alert">
                            @ViewBag.SuccessMessage
                        </div>
                    }

                    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Registrarme</button>

                    <p class="text-sm font-light text-gray-500 dark:text-gray-400 text-center">
                        ¿Ya tienes una cuenta? <a href='@Url.Action("Login","Account")' class="font-medium text-primary-600 hover:underline dark:text-primary-500">Inicia sesi&oacute;n.</a>
                    </p>
                }
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            // Setting focus
            $('input[name="User"]').focus();
            // Setting width of the alert box
            var formWidth = $('.login-form').innerWidth();
            var alertPadding = parseInt($('.alert').css('padding'));
            $('.alert').width(formWidth - 2 * alertPadding);
        });
    </script>
}