@model AdventureWorksWebApp.Models.User

@{
    ViewBag.Title = "Login";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />

    <div class="card" style="width: 27rem;">
        <div class="card-body">
            <h5 class="card-title">Iniciar sesión</h5>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.User1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.User1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}




<div>
    @Html.ActionLink("Registrarse", "Create", "Users", new { }, new { })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
